$navbar-height: 50pt;

.navbar {
    height: $navbar-height;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.c-navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-navbar .navbar__brand {
    margin-left: -12pt;
}

.navbar__brand {
    padding: 18pt 12pt;
    text-decoration: none;
}

.navbar__nav-items.nav-items--right {
    position: relative;
}

.navbar__nav-items.nav-items--right .nav-item {
    margin-left: 6pt;
}

.navbar__dropdown {
    display: none;
}

.navbar__dropdown.dropdown--active {
    display: block;
    position: absolute;
    right: 0;
    top: 110%;
    border-radius: 6pt;
    z-index: 999;
    width: 50%;
    min-width: 300px;
    padding: 15pt;
}

.navbar__dropdown-trigger {
    transition: background-color .2s ease-in-out;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    float: left;
    width: 36pt;
    height: 36pt;
    text-align: center;
}

.navbar__dropdown-trigger__icon {
    line-height: 36pt;
}

.navbar__dropdown-trigger.dropdown-trigger--active,
.navbar__dropdown-trigger:hover {
    transition: background-color .2s ease-in-out;
}

