<nav class="navbar">
    <div class="navbar__container c-md">
        <a class="navbar__brand" href="/<%= locale %>">Ecolier</a>
        <div class="navbar__nav-items nav-items--right">
            <%- include('./dropdown-menu.ejs') %>
            <%- include('./locale-picker.ejs') %>
        </div>
    </div>
</nav>