<div id="navbar-dropdown">
    <div id="navbar-dropdown-trigger" class="dropdown-button">
        <i class="material-icons-round">public</i>
    </div>
    <div id="navbar-menu" class="dropdown-menu">
        <h2><%= translations['locale-picker.language'] %></h2>
        <%- include('../locale-picker/locale-picker.ejs') %>
    </div>
</div>