<div class="pager" id="featured-pager">   
    <ul>
        <% previews.forEach((preview, index) => { %>
        <% if (index === 0) { %>
            <li class="pager-indicator active" 
                data-ref="<%= index %>"
        ></li>
        <% } else { %>
        <li class="pager-indicator" 
            data-ref="<%= index %>"
        ></li>
        <% }}) %>
    </ul>
</div> 