.article {
    padding: 1em;
    margin-bottom: 2em;
}

.article h1 {
    font-size: 3rem;
    margin-bottom: .5em;
}

.article p {
    line-height: 1.5em;
}

@media screen and (min-width: 769px) {
    .article {
        margin: 0 auto;
        width: 75%;
    }
}