@import '~ecolier/component/variables.scss';

.dropdown__title {
    display: block;
    font-size: 18pt;
    padding-bottom: 9pt;
    margin-bottom: 9pt;
}

.dropdown__item:not(:last-child) {
    margin-bottom: 6pt;
}

.dropdown__item {
    padding: 12pt 0;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-radius: 3pt;
    text-decoration: none;
    transition: all .2s;
}

.dropdown__item.item--condensed {
    padding: 9pt 0;
}

.dropdown__item__icon {
    position: relative;
    font-size: 24pt;
}

.dropdown__item:not(.item--selected):hover {
    margin-left: -9pt;
    padding-left: 9pt;
    margin-right: -9pt;
    padding-right: 9pt;
}

.dropdown__item:not(.item--selected):hover .dropdown__item__icon {
    position: relative;
    transition: color .2s;
}

.dropdown__item__link {
    text-decoration: none;
}

.dropdown__menu {
    display: none;
}

.dropdown__menu.menu--active {
    display: block;
}

.dropdown__menu-trigger {
    padding: 9pt;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-radius: 3pt;
}

.dropdown__menu__header {
    padding-bottom: 12pt;
    margin-bottom: 9pt;
}

.dropdown__menu__back-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown__item.item--left {
    justify-content: left;
}

.dropdown__item__icon.icon--check {
    font-size: 20pt;
}

.dropdown__item__icon.icon--uncheck {
    font-size: 20pt;
}

.dropdown__item__icon.icon--left {
    font-size: 18pt;
    line-height: 18pt;
    padding: 6pt;
    border-radius: 100%;
    margin-right: 9pt;
}

.item__label.label--secondary {
    display: block;
    margin-left: 6pt;
}

.item__label.label--grow {
    flex-grow: 1;
}

.dropdown__header-action {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown__header-icon {
    position: relative;
    font-size: 24pt;
    margin-right: 12pt;
    transition: color .2s;
}

.dropdown__header-icon:after {
    content: '';
    position: absolute;
    width: 30pt;
    height: 30pt;
    z-index: -1;
    border-radius: 100%;
    overflow: visible;
    left: -2pt;
    top: -3pt;
    transition: background-color .2s;
}