<div class="c-md">
    <h1 class="product__name">
        <%= product.name %>
    </h1>
    <h2 class="product__description">
        <%= product.description %>
    </h2>
    <%- include('./summary/summary.ejs') %>
    <section class="product__content">
        <%- product.content %>
    </section>
</div>