@import '~ecolier/component/common.scss';
@import '~ecolier/component/navbar/navbar.light.scss';
@import '~ecolier/component/dropdown/dropdown.scss';
@import '~ecolier/component/dropdown/dropdown.light.scss';
@import './summary/summary.scss';
@import './source/source.scss';

.product__name {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-top: 36pt;
    color: $light-text-0;
}

.product__description {
    font-size: 1.5em;
    margin-bottom: 18pt;
    color: $light-text-1;
}

.product__content {
    margin-top: 36pt;
    line-height: 1.5em;
    margin-bottom: 36pt;

    h1 {
        font-size: 1.5em;
        color: $light-text-0;
        margin-bottom: 9pt;
    }

    p {
        color: $light-text-1;
        margin-bottom: 1em;
    }
}
