<nav id="navbar" class="navbar">
    <a class="brand" href="/<%= locale %>">Ecolier</a>
    <div class="right-items">
        <%- include('../menu/menu.ejs') %>
        <%- include('../i18n/i18n.ejs') %>
    </div>
</nav>