.jumbotron {
    display: block;
    border-radius: 1em;
    color: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: radial-gradient(circle at 30% 107%, #7accff, #969bff 14.71%, #d85eff 45%, #ff62c6 78.99%, #ff8e78 94.54%);
    
    ul {
        padding: 18pt;
    }

    li {
        display: none;
    }

    li.active {
        display: block;
    }

    h1 {
        margin-bottom: .1em;
        font-size: 3rem;
        font-weight: 800;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: small;
    }
    
    p {
        margin-bottom: 1rem;
        line-height: 1.5em;
    }
    
    a {
        padding: 1em;
        display: inline-block;
        border-radius: .5em;
        color: white;
        text-decoration: none;
        border: 1px solid rgba(255, 255, 255, .9);
    }
    
}

.pager {
    padding: 9pt;
}

.pager ul {
    display: block;
    padding: 0;
    text-align: center;
}

.pager ul .pager-indicator {
    display: inline-block;
    width: .5em;
    height: .5em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin-right: .5em;
    cursor: pointer;
    vertical-align: middle;
}

.pager ul .pager-indicator:last-child {
    margin: 0;
}

.pager ul .pager-indicator.active {
    background-color: rgba(255, 255, 255, .9);
    width: .6em;
    height: .6em;
}