#menu-dropdown {
    margin-right: 9pt;
    float: left;

    i {
        font-size: 36pt;
    }
}

.dropdown-menu {
    .product {
        display: inline-block;
        color: $primary-text;
        padding: 3pt 0;
        line-height: 1.5em;
    }
}