.footer {
    background-color: rgba(0, 0, 0, .87);
    color: rgba(white, .75);
    min-height: 300px;
    bottom: 0;
    width: 100%;
    padding: 18pt 0;
    position: relative;
    margin-top: 90pt;
}

.footer__brand {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 2em;
    margin: 9pt 0;
    position: absolute;
    bottom: 0;
}

.footer__brand-spirit {
    font-weight: 300;
    font-size: 1rem;
    color: rgba(255, 255, 255, .42);;
}

.footer__secondary {
    font-weight: 300;
    font-size: 1rem;
    margin-left: .1rem;
    color: rgba(255, 255, 255, .42);;
}

.footer__title {
    margin-bottom: 9pt;
    display: block;
    font-size: 1em;
    padding-bottom: 12pt;
    font-weight: 300;
    border-bottom: 1px solid rgba(white, .09);
    color: rgba(white, .6);
}

.footer__list {
    color: rgba(255, 255, 255, .42);
}

.footer__item {
    padding: 6pt 0;
    text-decoration: none;
    color: white;
    display: block;
}

.c-footer {
    margin-top: auto;
}

.heart {
    vertical-align: middle;
    margin: 0 3pt;
    color: #922557;
    font-size: 1rem;
}