@import 'reset.scss';
@import 'variables.scss';
@import 'containers.scss';
@import 'footer/footer.scss';

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $light-bg-1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.font-size--36pt {
    font-size: 36pt;
}

.display--none {
    display: none;
}

.display--block {
    display: block;
}