$bg-light-0: white;
$bg-light-1: rgba(black, .03);
$bg-light-2: rgba(black, .06);
$bg-light-3: rgba(black, .09);

$text-dark-0: rgba(black, .9);
$text-dark-1: rgba(black, .6);
$text-dark-2: rgba(black, .3);