$bg-light-0: white;
$bg-light-1: rgba(black, .03);
$bg-light-2: rgba(black, .06);
$bg-light-3: rgba(black, .09);

$text-dark-0: rgba(black, .81);
$text-dark-1: rgba(black, .72);
$text-dark-2: rgba(black, .60);