<h1 class="developer__title">
    <%= page.translations['developer.my-projects'] %>
</h1>
<div class="c-project-grid">
    <div class="c-project-row">
        <a href="/product/khari" class="c-project 
                    card 
                    developer__project--khari">
            <div class="card__header">
                <span class="card__title">
                    Khari
                </span>
            </div>  
        </a>
        <a href="https://github.com/ecolier/Ecolier-Website" class="c-project 
                    card 
                    developer__project--ecolier">
            <div class="card__header">
                <span class="card__title">
                    Ecolier
                </span>
            </div>
        </a>
    </div>
    <div class="c-project-row">
        <a href="/product/hidavi" class="c-project 
                    card 
                    developer__project--hidavi">
            <div class="card__header">
                <span class="card__title">
                    Hidavi
                </span>
            </div>
        </a>
        <a href="/product/steppes" class="c-project 
                    card 
                    developer__project--steppes">
            <div class="card__header">
                <span class="card__title">
                    Steppes
                </span>
            </div>
        </a>
    </div>
</div>