<nav id="navbar" class="navbar"></nav>
<header id="featured" class="jumbotron"></header>
<section class="article" id="article"></section>
<footer class="footer">
    <span class="list-title">Products</span>
    <ul>
        <li>Khari - Human-sized Networking</li>
        <li>Steppes - Musical Ecosystem</li>
        <li>Hidavi - Historical Data Visualisation</li>
    </ul>
    <a href="/">Ecolier <span id="i18n" aria-i18n="footer.spirit"></span></a>
</footer>