<% const selected = locales.find(l => l.code === locale)
    if (selected) { %>
        <span class="locale-selected"><%= selected.name %></span>
<% } %>
<ul class="locale-dropdown">
    <% locales.filter(locale => locale.code !== selected.code).forEach(locale => { %>
        <li data-ref="<%= locale.code %>" 
            class="locale-item"><%= locale.name %></li>
    <% }) %>
</ul>