$summary-indicator-background: $light-text-2;
$summary-indicator-background-selected: $light-text-1;

.summary__item {
    border-left: 2px solid $summary-indicator-background;
    padding: 9pt;
    color: $light-text-1;
    display: block;
    text-decoration: none;
}

.summary__item.item--selected {
    border-color: $summary-indicator-background-selected;
    color: $light-text-0;
}

.summary__title {
    color: $light-text-1;
    font-weight: 300;
    margin-bottom: 9pt;
}