<footer class="footer" id="footer">
    <span class="list-title"><%= translations['footer.products'] %></span>
    <ul>
        <li>Khari - Human-sized Networking</li>
        <li>Steppes - Musical Ecosystem</li>
        <li>Hidavi - Historical Data Visualisation</li>
    </ul>
    <a href="/">Ecolier <span><%= translations['footer.spirit'] %></span></a>
</footer>