<span class="list-title" aria-i18n="footer.products"></span>
<ul>
    <li>Khari - Human-sized Networking</li>
    <li>Steppes - Musical Ecosystem</li>
    <li>Hidavi - Historical Data Visualisation</li>
</ul>
<a href="/">Ecolier <span aria-i18n="footer.spirit"></span></a>